html, body {
    
    margin: 10;
    padding: 10;
    background: #000;
    
        

}

h1 {
    
    color: #542c77;
    font-weight: bold;
}

h2 {
    
    font-size: 18px;
}



.grid-wrapper {
    
    background: #fff;
}

.grid {
    
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    border:  solid #d33a3a 3px;  
}

.square {
    
    width: 20px;
    height: 20px;
    
}

.snake {
    
    background-color: blue;
}

.apple {
    
    background-color: green;
}

.btn {
    
    font-size: 15px;
    padding: 5px 15px;
    border-radius: 10px;
    outline: none;
    border: none;
}